   table, td, th { border: 2px solid gray;}
   table{
    border: thin solid black;
    border-collapse: collapse;
  }
  .token{

  width: 15vw;
  height: 80vh;
  }

  canvas{
    height:80vh;
    width:65vw;
  }

  html, body{
  width:100vw;
  height: 100vh;
  margin:0;
  padding: 0;
  background-image: url("../Assets/Backgrounds/paper.jpg");


  }

  .container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}



.tB {
  background-color: white;
  border: solid 1px red;
  height: 250 px;
}

textarea {
height: 80vh;
width: 20vw;
}

.diceN{
  width: 25 px;
}

.diceS{
  width: 25 px;
}

ul li ul {
  display: none;
}

ul li:hover ul {
  display: block;
}